*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color:  #fff;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

h1 {
    padding-top: 6px;
}

.dropbtn {
    background: none;
    border: none;
}

.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
}

.menu {
    opacity: 0;
    position: absolute;
    display: flex;
    background: url(/images/bg-pattern-mobile-nav.svg), hsl(270, 9%, 17%);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 800px;
    height: 100vh;
    padding-top: 25px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.menu-desk {
    display: none;
}

.nav li {
    padding-top: 35px;
}

.nav li a {
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 2px;
}

li .btn {
    background-color:  hsl(270, 9%, 17%);
    font-size: 20px;
    padding: 15px 100px;
}

.txt-img {
    color: hsl(0, 0%, 98%);
    width: 100%;
}

.bg-color {
    background: hsl(256, 26%, 20%);
    width: 100%;
}

.bg-color::before {
    background: url(/images/bg-pattern-intro-right-mobile.svg) no-repeat;
    top: 900px;
    left: calc(100% - 125px);
    display: block;
    overflow: hidden;
    position: absolute;
    width: 125px;
    height: 500px;
    z-index: 1;
    content: " ";
}

.humanizing-txt {
    background: url(/images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left;
    padding-bottom: 80px;
}


h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 45px;
    font-weight: 400;
    padding: 95px 30px 0 30px;
}

.white-txt {
    line-height: 25px;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    background-color:  hsl(256, 26%, 20%);
    border: 2px solid hsl(0, 0%, 98%);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 98%);
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
    transition: 0.4s;
}

.txt-icons {
    text-align: center;
    color: hsl(256, 26%, 20%);
    margin: 0;
}

.gray-line {
    border-bottom: 0.2px solid hsl(256, 18%, 36%);
    width: 45%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

.txt-icons h2 {
    font-size: 45px;
    padding: 40px 0 25px 0;
}

.icons {
    padding: 60px 0 0 0;
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    font-weight: 400;
    padding: 35px 30px 20px 30px;
}

.description {
    color: hsl(273, 4%, 51%);
    line-height: 25px;
    padding: 0 25px;
}

.find-out {
    background: url(/images/bg-pattern-how-we-work-mobile.svg), hsl(256, 26%, 20%);
    background-repeat: no-repeat;
    background-position: right;
    color: hsl(0, 0%, 98%);
    margin: 120px 0 100px;
}

.find-out h2 {
    font-size: 40px;
    padding: 70px 25px 60px 25px;
}

.find-out .btn {
    margin-bottom: 40px;
}

/* footer */

footer {
    width: 100%;
    text-align: center;
}

.social-media {
    background: url(/images/bg-pattern-footer-mobile.svg), hsl(0, 0%, 98%);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 70px;
    padding: 65px 90px 0px 90px;
    margin: 25px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.social-media img {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.social {
    display: inline-flex;
    align-items: center;
    margin: auto;
}

.social-media li {
    padding: 10px 5px;
}

.social a {
    height: 27px;
    width: 27px;
    display: inline-flex;
    text-indent: -9999px;
    background-repeat: no-repeat;
    align-content: center;
}

.social a:hover {
    filter: brightness(0%);
}

.social a[href*="facebook"] {
    background-image: url(/images/icon-facebook.svg);
}

.social a[href*="twitter"] {
    background-image: url(/images/icon-twitter.svg);
}
.social a[href*="pinterest"] {
    background-image: url(/images/icon-pinterest.svg);
}
.social a[href*="instagram"] {
    background-image: url(/images/icon-instagram.svg);
}

.links {
    border-top: 0.2px solid hsl(0, 3%, 82%);
    width: 85%;
    text-align: center;
    margin: auto;
}

.footer-list {
    margin-top: 20px;
    padding: 20px 20px 0 20px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 30px;
    color: hsl(253, 16%, 67%);
    font-weight: 700;
}

.footer-list p {
    padding-bottom: 20px;
}

.footer-list a {
    text-decoration: none;
    color: hsl(256, 26%, 20%);
}

.footer-list a:hover{
    text-decoration: underline;
    color: hsl(256, 26%, 20%);
}

.attribution { 
    margin-top: 40px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
     color: hsl(256, 26%, 20%);
}

@media (min-width: 939px) {

    body {
        max-width: 1440px;
    }

    header {
        margin: 25px 150px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .menu {
        display: none;
    }

    .menu-desk {
        display: block;
        width: 40%;
    }

    .menu-desk ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .nav-desk a {
        text-decoration: none;
        text-transform: uppercase;
        color:  hsl(273, 4%, 51%);
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 2px;
    }

    .nav-desk a:hover {
        color: hsl(256, 26%, 20%);
    }

    .menu-desk ul li .btn:hover {
        background-color: hsl(256, 26%, 20%);
        color: hsl(0, 0%, 98%);
        transition: 0.4s;
    }

    .menu-desk ul li .btn {
        font-weight: 700;
        color: hsl(270, 9%, 17%);
        background-color: #fff;
        border: 1.5px solid hsl(270, 9%, 17%);
        font-size: 14px;
        padding: 10px 20px;
        letter-spacing: 1px;
        margin: 0;
        transition: 0.4s;
    }

    .dropbtn {
        display:none;
    }


    .bg-color {
        display: inline-flex;
        flex-direction: row;
        height: 600px;
    }

    .bg-color img {
        position: absolute;
        transform: scale(1.45, 1.45);
        margin-left: 60%;
        top: 300px;
    }

    .bg-color::before {
        display:none;
    }

    .humanizing-txt {
        text-align: left;
        width: 50%;
        flex-direction: row;
        padding-left: 115px;
        padding-top: 55px;
    }

    .humanizing-txt h2 {
        font-size: 70px;
        padding-right: 60px;
    }

    .humanizing-txt h2::before {
        content: " ";
        display: block;
        width: 150px;
        border-top: 1px solid hsl(273, 4%, 51%);
        position: relative;
        top: -41px;
    }

    .btn {
        margin-left: 30px;
        letter-spacing: 3px;
        padding: 10px 20px;
        font-size: 13px;
    }

    .txt-icons {
        margin: 210px 150px 20px 150px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .txt {
        margin: 0;
    }

    .gray-line {
        text-align: left;
        margin: 0;
        width: 12%;
    }

    .icons_texts {
        display: flex;
        justify-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
    }

    .process, .prices, .people {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;
    }

    .process {
        padding-right: 17px;
    }

    .prices {
        padding: 0 20px;
    }

    .people {
        padding-right: 18px;
    }

    .icons {
        padding: 0;
        width: fit-content;
        height: fit-content;
        align-items: flex-end;
    }

    h3 {
        padding: 35px 0 20px 0
    }

    .description {
        padding: 0;
        font-size: 16px;
    }

    .txt-icons h2 {
        padding: 50px 0;
        font-size: 70px;
        display: block;
        width: fit-content;
        height: fit-content;
    }

    .find-out {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .find-out h2 {
        font-size: 50px;
        width: 49%;
        padding: 50px;
    }

    .find-out .btn {
        height: 50px;
        margin: 0;
        align-items: center;
        margin-right: 50px;
    }

    footer {
        background-color: hsl(0, 0%, 98%);
    }

    .social-media {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 65px 150px 0 150px;
    }

    .social-media img {
        height: fit-content;
        margin: 0;
    }

    .social {
        margin: 0;
    }

    .links {
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        line-height: 35px;
    }

    .company, .help, .contact, .others {
        flex-direction: column;
        text-align: left;
        padding-right: 145px;
    }
}